[submodule "own_tasks_and_files/week_4_workshop_PipeRider/taxi_rides_ny_duckdb"]
	path = own_tasks_and_files/week_4_workshop_PipeRider/taxi_rides_ny_duckdb
	url = https://github.com/dimkaart/taxi_rides_ny_duckdb.git
[submodule "own_tasks_and_files/week_4_dbt/dtc_dez_dbt"]
	path = own_tasks_and_files/week_4_dbt/dtc_dez_dbt
	url = https://github.com/dimkaart/dtc_dez_dbt.git
