
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv

warm-ring*
example.txt
leaderboard.py
.prefectignore
own_tasks_and_files/week_2/data
own_tasks_and_files/week_2/data/*
own_tasks_and_files/homework/week_2/data
own_tasks_and_files/homework/week_2/data/*
own_tasks_and_files/homework/week_3/data
own_tasks_and_files/homework/week_3/data/*
own_tasks_and_files/week_3/DTalks-DataEng-Data Warehouse.pdf
own_tasks_and_files/week_4/data/*
own_tasks_and_files/week_5/data/*
own_tasks_and_files/week_5/fhvhv/*
own_tasks_and_files/week_5/fhvhv_*
own_tasks_and_files/week_5/head.csv
own_tasks_and_files/week_5/tmp/*
own_tasks_and_files/homework/week_5/data_fhvhv/*
own_tasks_and_files/homework/week_5/fhv*
own_tasks_and_files/homework/week_5/head_*
own_tasks_and_files/homework/week_5/taxi_*